// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header{
    .img-container{
        width: 60px;
        height: 60px;
        
        img{
            width: 100%;
            object-fit: fill;
            object-position: center;
        }
    }
}

.container{
    .card{
        margin: 1rem;
    }
}